h1, h2 {
    color: pink;
  }
  
  p {
    color: gray;
  }
      
  
  ul {
    border: 4px solid purple;
  }
  
  ol {
    border: 2px solid green;
  }
  
  ol, ul {
    padding: 5px 30px;
    border-radius: 4px;
  }
      
  
  
  h1, strong {
    color: purple;
    border: 1px solid black;
  }
  
  em {
    color: gray;
  }
      
